<!doctype HTML>
<title> Log-in </title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      #button
      {
        border: none;
        background-color: #036;
        text-decoration: none;
        color: white;
        padding: 2px 2px 2px 2px;
      }
    </style>

  </head>

  <body>
    <h2>Login</h2>
    <form method="post" autocomplete="off">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
	    {{login_error}}
            
          </td>
        </tr>

      </table>

      <input id="button" type="submit" value="Login!">
    </form>

    <p>아직 가입을 안하셨어요? <a id="button" href="/signup">Sign Up</a></p>
  </body>

</html>
